<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.edgarhz.witcomregisters">

    <application
        android:allowBackup="true"
        android:icon="@drawable/witcomlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".local.LocaldatabaseActivity"
            android:label="@string/title_activity_localdatabase"
            android:parentActivityName=".NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.edgarhz.witcomregisters.NavigationActivity" />
        </activity>
        <activity
            android:name=".remote.RemotedatabaseActivity"
            android:label="@string/title_activity_remotedatabase"
            android:parentActivityName=".NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.edgarhz.witcomregisters.NavigationActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
